.our-services{
	padding-bottom: 50px;	
	&__item{
		display        	: flex;
		flex-direction 	: column;
		background-image: url("../img/tooth_blue.png"); 
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100px;
		-webkit-box-shadow		: 0px 1px 26px -6px #000000; 
		box-shadow				: 0px 1px 26px -6px #000000;
		border-radius			: 5%;
		min-height				: 400px;
		padding					:10px;
		transition				: 0.3s;	
		@include from(m){
			background-size: 150px;
		}	
		&:hover {
			background-image: url("../img/tooth_white.png"); 
			background-color 	: #007ff4;
			color				: #ffffff;
			text-decoration  	: inherit;
			@include from(lg){
				transform		: scale(1.1);	
			}
				
			>p{
				color: #ffffff;
			}		
		  }
		  >p{
			margin-top 			: auto;
		  }
	}
	&__text{
		margin-bottom			: 40px;
		color					: #002348;
		@include from(l){
			font-size			: 20px;
			margin-bottom		: 60px;
		}
	}
	&__hl{
		margin-bottom			: 20px;
		@include from(l){
			margin-bottom		: 40px;			
		}
	}
}
