.top-hero{
	margin-bottom		: 50px;
	@include from(l){
		margin-bottom		: 100px;
	}
	&__img{
		border-radius: 5px;
		margin			: 0 auto;
		display			: block;
		width			: 100%;
		max-width		: 500px;
		height			: 750px;
		@include from(lg){
			max-width	: 100%;
			
			
		}
	}
	&__btn{
		@include button;
		width			: 200px;
	}
	&__text-content{
		@include from(l){
			padding-top	: 240px;
		}
	}
	&__img-content{
		@include from(l){
			padding-top	: 80px;
		}
	}
	&__btn-container{ 
		padding-bottom	: 15px;
	}
	
}
