nav(class='bottom-nav')
	div(class='ed-container')
		div(class='ed-item m-30 from-m')
			a(href='./', class='top-nav__link')
				img(src='assets/img/logo.png', alt='', class='bottom-nav__logo')
		div(class='ed-item m-70')
			ul(class='bottom-nav__menu m-right')
				li(class='bottom-nav__li')
					<i class="fas fa-home"></i>
					a(href='./', class='bottom-nav__anchor') Home
				li(class='bottom-nav__li')
					<i class="fas fa-home"></i>
					a(href='portfolio.html', 	class='bottom-nav__anchor') About
				li(class='bottom-nav__li')
					<i class="fas fa-home"></i>
					a(href='portfolio.html', 	class='bottom-nav__anchor') Services
				li(class='bottom-nav__li')
					<i class="fas fa-home"></i>
					a(href='portfolio.html', 	class='bottom-nav__anchor') News
	
