section(class="customers") 
	div(class='ed-container')
		div(class='ed-item l-center')
			h2(class='customers__hl s-center') Our Specialist
		div(class='ed-item l-center') 
			p(class='customers__text s-center') 
				|We provide the most full medical services, so every person 
				br
				|could heave the oppurtunity to receive qualitative medical help.
		
	div(class='ed-grid l-grid-2 row-gap')  
		div(class='customers__item')
			img(src='assets/img/bullet_card.png', alt='', class='customers__bullet')
			img(src='assets/img/photo.png', alt='', class='customers__photo')
			div(class='customers__item-block')
				p(class='customers__content') Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, error.
			div(class='customers__item-block')
				p(class='customers__name') 
					| Name, Last Name
					br
					| 
					span(class='customers__position') Condition
		div(class='customers__item')
			img(src='assets/img/bullet_card.png', alt='', class='customers__bullet')
			img(src='assets/img/photo.png', alt='', class='customers__photo')
			div(class='customers__item-block')
				p(class='customers__content') Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, error.
			div(class='customers__item-block')
				p(class='customers__name') 
					| Name, Last Name
					br
					| 
					span(class='customers__position') Condition
