div(class='ed-container')
	div(class='ed-item')
		h2 Contact
div(class='ed-grid m-grid-2 lg-grid-4 row-gap')
	ul.data-list
		li: i(class='far fa-envelope'): a(href='mailto:kikeestrada@gmail.com' target='_blank' class='foot-icon') Email
		li: i(class='fas fa-phone'): a(href='tel:+50670118183"' target='_blank' class='foot-icon') Phone Number
	ul.data-list
		li: i(class='fab fa-whatsapp'): a(href='https://msng.link/o/?50670118183=wa' target='_blank' class='foot-icon') WhatsApp
		li: i(class='fab fa-linkedin-in'): a(href='https://www.linkedin.com/in/enrique-jos%C3%A9-estrada-n%C3%BA%C3%B1ez-85610657/' target='_blank' class='foot-icon') Linkedln
	ul.data-list
		li: i(class='fab fa-facebook-f'): a(href='https://www.facebook.com/enriquejose.estradanunez' target='_blank' class='foot-icon') Facebook
		li: i(class='fab fa-instagram'): a(href='https://www.instagram.com/kikeestradacr/' target='_blank' class='foot-icon') Instagram
	ul.data-list
		li: i(class='fab fa-github'): a(href='https://github.com/kikeestrada' target='_blank' class='foot-icon') Github
		li: i(class='fab fa-codepen'): a(href='https://codepen.io/kikeestrada/' target='_blank' class='foot-icon') CodePen
