section(class="top-hero")
	div(class='ed-container')
		div(class='ed-item l-50 top-hero__text-content')
			div(class='ed-container no-padding')
				div(class='ed-item')
					h1(class='top-hero__hl') Clinic With Innovative
				div(class='ed-item')
					p(class='top-hero__text') 
						|We provide the most full medical services, so 
						|every person could heave the oppurtunity to receive qualitative medical help.
				div(class='ed-item l-50 top-hero__btn-container')
					a(href="#", class='top-hero__btn') Learn More		
		div(class='ed-item l-50 top-hero__img-content')
			img(src='assets/img/people.png', alt='', class='top-hero__img') 
