section(class="our-services")
	div(class='ed-container')
		div(class='ed-item l-center')
			h2(class='our-services__hl s-center') Our Services
		div(class='ed-item l-center')
			p(class='our-services__text s-center') 
				|We provide the most full medical services, so every person 
				br
				|could heave the oppurtunity to receive qualitative medical help.
		
	div(class='ed-grid rows-gap m-grid-2 lg-grid-4 ')
		div(class='our-services__item')
			p(class='our-services__text s-center') Dental Care
		div(class='our-services__item')
			p(class='our-services__text s-center') Dental Care
		div(class='our-services__item')
			p(class='our-services__text s-center') Dental Care
		div(class='our-services__item')
			p(class='our-services__text s-center') Dental Care
