nav(class='social')
	div(class='ed-container')
		div(class='ed-item s-30')
			ul(class='social__menu s-left')
				li(class='social__li')
					a(href='./', class='social__anchor')
						<i class="fab fa-facebook-f"></i>
				li(class='social__li')
					a(href='./', class='social__anchor')
						<i class="fab fa-facebook-f"></i>
				li(class='social__li')
					a(href='./', class='social__anchor')
						<i class="fab fa-facebook-f"></i>
