section(class="specialist") 
	div(class='ed-container')
		div(class='ed-item l-center')
			h1(class='specialist__hl') Our Services
		div(class='ed-item l-center')
			p(class='specialist__text') 
				|We provide the most full medical services, so every person 
				br
				|could heave the oppurtunity to receive qualitative medical help.
		
	div(class='ed-grid m-grid-2 lg-grid-4 row-gap')
		div(class='specialist__item')
			div(class='specialist__sub-container')
			p(class='specialist__text s-center') Dental Care
		div(class='specialist__item')
			div(class='specialist__sub-container')
			p(class='specialist__text s-center') Dental Care
		div(class='specialist__item')
			div(class='specialist__sub-container')
			p(class='specialist__text s-center') Dental Care
		div(class='specialist__item')
			div(class='specialist__sub-container')
			p(class='specialist__text s-center') Dental Care
