section(class="specialist") 
	div(class='ed-container')
		div(class='ed-item l-center')
			h2(class='specialist__hl s-center') 
				|We Have The Best
				br
				|Specialist
		div(class='ed-item l-center')
			p(class='specialist__text s-center s-py-4') 
				|We have a wide experience in experience 
				br
				|design and strategy, with locally-rooted knowledge.
		
	div(class='ed-grid m-grid-2 lg-grid-4 row-gap')
		div(class='specialist__item')
			div(class='specialist__sub-container')
			p(class='specialist__text s-center') Dental Care
		div(class='specialist__item')
			div(class='specialist__sub-container')
			p(class='specialist__text s-center') Dental Care
		div(class='specialist__item')
			div(class='specialist__sub-container')
			p(class='specialist__text s-center') Dental Care
		div(class='specialist__item')
			div(class='specialist__sub-container')
			p(class='specialist__text s-center') Dental Care
