
section
	div(class='ed-container subscribe')
		div(class='ed-item')
			h2(class='s-center subscribe__hl') Subscribe to Newsletter
		div(class='ed-item')
			p(class='s-center subscribe__text') 
				|We have a wide experience in experience design and strategy,
		div(class='ed-item')
			div(class='subscribe__tag-container') 
				form(action='/action_page.php')
					textarea#w3review(name='w3review' rows='4' cols='50')
						| Enter your text
					input(class='subscribe__btn', type='submit' value='Submit') 

