section(class="top-hero")
	div(class='ed-container')
		div(class='ed-item l-50 top-hero__text-content')
			div(class='ed-container no-padding')
				div(class='ed-item')
					p(class='top-hero__text s-center l-left') Welcome to MediCare+ Clinic
				div(class='ed-item')
					h1(class='top-hero__hl s-center l-left') Best Specialists 
				div(class='ed-item')
					p(class='top-hero__text s-center l-left') We are on the leading edge of cancer care. Providing the full continuum of cancer treatments and supportive care services in a single convenient location.
				div(class='ed-item l-50 top-hero__btn-container s-center l-right')
					a(href="#", class='top-hero__btn') Departments
				div(class='ed-item l-50 top-hero__btn-container s-center l-left')
					a(href="#", class='top-hero__btn') Departments				
		div(class='ed-item l-50 top-hero__img-content')
			img(src='assets/img/doctor-01.jpg', alt='', class='top-hero__img')
