nav(class='top-nav')
	div(class='top-nav__container')
		a(href='./', class='top-nav__link')
			img(src='assets/img/logo.png', alt='', class='top-nav__logo')
		ul(class='top-nav__menu')
			li(class='top-nav__li'): a(href='./', class='top-nav__anchor') Home
			li(class='top-nav__li'): a(href='portfolio.html', 	class='top-nav__anchor') About
			li(class='top-nav__li'): a(href='portfolio.html', 	class='top-nav__anchor') Services
			li(class='top-nav__li'): a(href='portfolio.html', 	class='top-nav__anchor') News
			li(class='top-nav__li'): a(href='portfolio.html', 	class='top-nav__anchor') Contact
		button(type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r')
			span.hamburger-box
				span.hamburger-inner

