extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'Layouts'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block top-section
	include ../components/top-nav
	header(class='main-header')
		include ../components/top-hero
		include ../components/our-services		
block middle-section
	include ../components/middle-banner
block bottom-section
	//- include ../components/specialist
block main-footer
	//- include ../components/footer
block scripts 




